.hero {
background-image: url('https://images.pexels.com/photos/3661239/pexels-photo-3661239.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
background-image: url('https://images.pexels.com/photos/3661238/pexels-photo-3661238.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
background-size: cover;
background-position: center;
background-attachment: fixed;
height: 100vh;
min-height: 500px;
position: relative;

  &__content {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 65%;
    transform: translate(-50%, -50%);

    &__title {
      font-size: 3rem;
      margin: 20px 0 15px;
      font-weight: 300;
      @include media('<=phone') {
        font-size: 2rem;
      }

      &--name {
        color: $color-primary;
        font-weight: 900;
      }
    }

    &__text {
      font-size: 1.2rem;
      font-weight: 300;
      text-align: center;

      &--typical {
        font-weight: bold;
      }
    }
  }
}
